
/*Resume*/

.resume {
  text-decoration: none;
  color: black
}


.navLinks a:hover {
  transform: translateY(-5px);
  transition-timing-function: ease-in-out;
  transition-duration: .25s;
}

/* Nav */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-bottom: 1px solid black;
  margin: 0px;
}

/* font-family: 'Roboto Slab', serif; */

.myName {
  color: #EF4907;
  font-size: 3.7em;
  font-weight: 300;
  margin: 20px 0 0 0;
  font-family: 'Roboto Slab', serif;
  text-align: center
}

.blog-links {
  color: #00BFB2;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 600
}

.blog{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.blerb {
  height: 150px;
  width: 310px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: 20px
}

.blerbHeader {
  background-color: lightgray;
  height: 75px;
  width: 310px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 1.75em;


}


.email {
  font-weight: 400;
  font-size: .75em
}

.email div {
  margin: 10px 0 0 0;
}


.navLinks {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin: 10px 0px;
  align-items: baseline
}

.navLinks a {
  text-decoration: none;
  margin: 0px;
  font-size: 1em;
  font-weight: 600;
  color: black;
}

.navLinks:active {
  color: #EF4907
}

.byLine {
  margin: 0;
  margin-top: 10px;
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
  text-align: center
}

.social {
  font-size: .5em;
  width: 13vw;
  display: flex;
  justify-content: space-between;
}


i {
  font-size: 2.5em;
  color: black;
  margin-top: 10px;
}

iframe {
  margin-top: 15px 0
}


/* intro area */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


}

.intro-text {
  /* width: 350px; */
  max-width: 350px;
  min-width: 200px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text img {
  height: 300px
}

.intro-text p {
  font-style: italic;
  font-size: .75em;


}

.hello {
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  color: #EF4907
}

.inline-link {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 100;
}




/* Projects */
